<div class="header">
    
  <nav>
    <ul>
        <li>
            <a
              routerLink="/"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >home</a
            >
          </li>
      <li>
        <a
          routerLink="/birth-history"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Birth history</a
        >
      </li>
      <li>
        <a
          routerLink="/patient-history"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Patient history </a
        >
      </li>
    </ul>
  </nav>
</div>
