<p>patient-info works!</p>
<form novalidate>
  <fieldset>
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" />
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" />
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" />
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" />
    </div>
    <div class="form-group">
      <label>Language</label>
      <select class="form-control">
        <option value="">Please select a language</option>
        
        <option value="lg.code"  *ngFor="let lg of langs">{{lg.lang}}</option>
      </select>
    </div>
  </fieldset>
</form>
