<p>patient-info works!</p>
{{singUpForm.value | json}}
<form novalidate [formGroup]="singUpForm" >
  <fieldset>
    <div class="form-group">
      <label>First Name</label>
      <input formControlName="firstName"  type="text" class="form-control" />
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input formControlName="lastName" type="text" class="form-control" />
    </div>

    <div class="form-group">
      <label>Email</label>
      <input  formControlName="email"  type="email" class="form-control" />
    </div>
    <div class="form-group">
      <label>Password</label>
      <input  formControlName="password" type="password" class="form-control" />
    </div>
    <div class="form-group">
      <label>Language</label>
      <select class="form-control" formControlName="lang">
        <option value="hello">Please select a language</option>
        <option [value]="lg"  *ngFor="let lg of langs">{{lg.lang}}</option>
      </select>
    </div>
  </fieldset>
</form>
